{% extends "::base.html.twig" %}

{% block title %}Error{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-danger">Error</h1>

        <div class="flash-error flash">
            <h2>{{ header }}</h2>
            {{ body }}
        </div>

        <p>
            <a href="{{ redirectUrl }}" class="pull-right">Back to the home</a>
        </p>
    </div>
{% endblock %}


