{% extends "::base.html.twig" %}

{% block title %}Add organization{% endblock %}

{% block body %}
<h2>Create virtual organization</h2>

Összegzés 
<form action="{{ path('app_organization_addstepsix')}}" method="POST" role="form">
	<legend>Összegzés</legend>
	<a href="{{ path('app_organization_addstepfour') }}" type="button" class="btn btn-default">Back</a>
	<button type="submit" class="btn btn-primary">Next</button>
	<div class="progress" data-step="5">progressbar 5</div>
</form>

{% endblock %}