{% extends "::base.html.twig" %}

{% block title %}Add organization{% endblock %}

{% block body %}
<h2>Create virtual organization</h2>
<div class="progress" data-step="6">progressbar 6</div>
Siker!!!

<a href="{{ path('app_organization_show', {id: id})}}">Mutasd!!!</a>

{% endblock %}