{% extends "::base.html.twig" %}

{% block title %}HEXAA Organizations{% endblock %}

{% block body %}	
    {% stylesheets
        'css/organization.css'
        filter='cssrewrite'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% set names = {
            app_organization_properties: "Properties",
            app_organization_users: "Users",
            app_organization_roles: "Roles",
            app_organization_connectedservices: "Connected services"
            }
     %}
    {% if organization is defined %}
        {{ include('::navbar.html.twig', { organization: organization, names: names}) }}
    {% else %}
        {{ include('::navbar.html.twig') }}
    {% endif %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}
