{% extends "AppBundle:Organization:layout.html.twig" %}

{% block container %}
    {% block stylesheets %}
        {% stylesheets
            'css/accordions.css'
            'css/panel.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <div class="row">
        <div class="col-md-11 col-md-offset-2">
            {{ include('::panel.html.twig', { heading: "Properties", buttonappear: "inline", main: organization, items: propertiesbox }) }}
        </div>
    </div>

    <div class="row" style="margin-top: 12px;">
        <div class="col-md-11 col-md-offset-2">
        {{ include('::accordions.html.twig', { heading: "Roles", variant: "dark", items: roles }) }}
        </div>
    </div>
    
{% endblock %}
