{% extends "AppBundle:Organization:layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets
        'css/modal.css'
        filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block container %}
    <div id="srvmain">
            <div id="maindivcontents">
                <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/create_role.svg"/><br/> <p><b>Create role</b></p></div>

                <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/connect_to_service.svg"/><br/><p><b>Connect to service</b></p></div>
                
                <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/edit_attributes.svg"/><br/><p><b>Edit attributes</b></p></div>
                
                <div class="desktopbuttonorg"><a href="{{ path("app_organization_users", {"id": organization.id}) }}"><img class="desktopbuttonimage" src="/img/manage_users.svg"/><br/><p><b>Manage users</b></p></a></div>
                
                <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/edit_properties.svg"/><br/><p><b>Edit properties</b></p></div>
                
                <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/view_history.svg"/><br/><p><b>View history</b></p></div>
                
                <div class="desktopbuttonorg" id="deleteDiv"><img class="desktopbuttonimage" src="/img/delete_organization.svg"/><br/><p><b>Delete organization</b></p></div>
            </div>
    </div>
    {{ include('::modal.html.twig',
        {
            id: 'deleteBox',
            title: 'Are you sure?',
            bodycontent: 'If you press the delete button, your organization will be deleted.',
            button:
                {
                    text: 'Delete organization',
                    class: 'btn-red',
                    id: 'deleteButton'
                },
            leftbutton:
                {
                    text: 'Cancel',
                    class: 'btn-blue',
                    id: 'id_of_leftbutton',
                    dismiss: true
                },
            formaction: path('app_organization_delete', {id: organization.id })
        })
     }}

    <script>
        $(document).ready(function() {
            $('#maindivcontents').on('click', '#deleteDiv', function(event) {
                event.preventDefault();
                console.log('hoop');
                $('#deleteBox').modal('show');
            });
        });
    </script>
{% endblock %}
