{% extends "AppBundle:Organization:layout.html.twig" %}

{% block container %}

    {% block stylesheets %}
        {% stylesheets 'css/tables.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}    
        {% javascripts
            '@datatables_js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

                    <div id="firstrow">
                        <div class="flexcontainer" align="left">
                            <input type="checkbox" onclick="toggle(this)" class="togglecheck" id="toggleAll"/>
                            <input type="text" class="inputfield" style="width: 250px">
                            <button id="search" type="submit"></button>
                            <button class="btnhexaa btn-blue">Change roles</button>
                            <button class="btnhexaa btn-blue">Proposal</button>
                            <button class="btnhexaa btn-blue">Revoke</button>
                            <button class="btnhexaa btn-blue">Message</button>
                            <button class="btnhexaa btn-blue">Remove</button>
                            <button class="btnhexaa btn-red pull-right"><i class="glyphicon glyphicon-plus"></i> Invite</button>
                        </div>
                    </div>
                
        {% if managers is defined and managers|length %}
            {{ include('::tables.html.twig', {tier: 'tier1', caption: 'Managers', checkbox: true, users: managers, table_id: 'managers_table' }) }}
        {% endif %}
        {% if members is defined and members|length %}
            {{ include('::tables.html.twig', {tier: 'tier2', caption: 'Members', checkbox: true, users: members, table_id: 'members_table' }) }}
        {% endif %}
{% endblock %}
