
{{ include('::modal.html.twig',
    {
      id: 'invite_3',
        title: 'Your invitation is ready',
        button:
            {
                text: 'Done',
                class: 'btn-red'
            }
    })
}}

<div id="invite_3_bodycontent" style="display: none;">
    <div>
        <label for="token">Link</label>
        <div>
            <div class="col-sm-11">
                <input name="token" type="url" class="form-control">
            </div>
            <div class="col-sm-4">
                    <button class="copy btnhexaa btn-blue btn-block">Copy</button>            
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
            $('.modal#invite_3 .modal-body-content').html($('#invite_3_bodycontent').html());
            $('#invite_3').modal({ backdrop: 'static'});
            $('#invite_3 input.form-control').val('{{ invite_link }}');
            $('#invite_3').on('click', "button[type=submit]", function(event) {
                event.preventDefault();
                $('#invite_3').modal('hide');
            });
    });
</script>