{% extends "AppBundle:Service:layout.html.twig" %}

{% block container %}
  {% block stylesheets %}
        {% stylesheets 'css/tables.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}    
        {% javascripts
            '@datatables_js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    {% if attributes is defined and attributes|length %}
        <div class="row">
            <div class="col-md-15">
                {{ include('::tables.html.twig', {variant: 'red', tdcolor:'base', caption: 'Used attribute specifications', checkbox: true, attributes: true, users: attributes, table_id: 'attributes_table', buttons: attributes_buttons, search_placeholder: 'Search attribute' }) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
