{% extends "AppBundle:Service:layout.html.twig" %}

{% block title %}AppBundle:Service:show{% endblock %}

{% block container %}

    {% block stylesheets %}
        {% stylesheets 'css/service.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}


    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ include('::panel.html.twig', { heading: "Properties", main: main, items: propertiesbox }) }}
        </div>
    </div>

{% endblock %}
