{% extends "AppBundle:Service:layout.html.twig" %}

{% block container %}

    {% block stylesheets %}
        {% stylesheets
            'css/panel.css'
            filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}


    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            {{ include('::panel.html.twig', { heading: "Properties", buttonappear: "inline", main: main, items: propertiesbox }) }}
        </div>
    </div>

{% endblock %}
