{% extends "AppBundle:Service:layout.html.twig" %}

{% block container %}
    <div id="srvmain">
        <div id="maindivcontents">
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/create_permission.svg"/><br/> <p><b>Create permission</b></p></div>
            
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/invite_organization.svg"/><br/><p><b>Invite organiztaion</b></p></div>
            
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/add_attribute_specification.svg"/><br/><p><b>Add attribute specification</b></p></div>
            
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/invite_manager.svg"/><br/><p><b>Invite manager</b></p></div>
            
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/contact_admin.svg"/><br/><p><b>Contact admin</b></p></div>
            
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/view_history.svg"/><br/><p><b>View history</b></p></div>
            
            <div class="desktopbuttonorg"><img class="desktopbuttonimage" src="/img/delete_organization.svg"/><br/><p><b>Delete service</b></p></div> 
        </div>
    </div>
{% endblock %}
