{#
warnings render

usage in twig:
{{ include('::warning.html.twig', {url: path('get_warnings_route')}) }}

#}

<script>
    $(document).ready(function () {
        $.ajax({
            url: '{{ url }}',
            method: 'POST',
            dataType: 'json'
        }).done(function (data) {
            var warningDiv = $('#warnings');
            $.each(JSON.parse(data), function (index, warning) {
                var list = $('<ul/>');
                var header = $('<h4>' + warning.class + '</h4>');
                if (warning.title) {
                    var title = $('<li>' + warning.title + '</li>');
                    $(list).append(title);
                }
                if (warning.shortDescription) {
                    var shortDescription = $('<li>' + warning.shortDescription + '</li>');
                    $(list).append(shortDescription);
                }
                if (warning.details) {
                    var details = $('<li>' + warning.details + '</li>');
                    $(list).append(details);
                }
                warningDiv.append(header);
                warningDiv.append(list);
            });
            if (JSON.parse(data).length) {
                $('#warning-div').show("slow");
            }
        });
    });
</script>

<div class="row">
    <div id="warning-div" class="flash-warning flash col-sm-offset-2 col-sm-11" style="display: none">
        <div data-toggle="collapse" data-target="#warnings" style="cursor: pointer;">
            <i class="material-icons text-warning" style="font-size: 2rem;">warning</i> There are some warnings!
            <span class="pull-right"><i class="material-icons" style="font-size: 2rem;">arrow_drop_down</i></span>
        </div>
        <div id="warnings" class="collapse">
        </div>
    </div>
</div>
