{# empty Twig template #}
<html>
    <head>
        <title>HEXAA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/mainpage.css">
        <link rel="stylesheet" type="text/css" href="css/menu.css">
    </head>

    <body>
        <script>
            function orgClick() {
                document.getElementById("orgSelect").classList.toggle("show");
            }
            function servClick() {
                document.getElementById("servSelect").classList.toggle("show");
            }
            window.onclick = function (event) {
                if (!event.target.matches('.dropbtn') && (!event.target.matches('.servicecl'))) {
                    var dropdowns1 = document.getElementsByClassName("dropdown-content1");
                    var dropdowns2 = document.getElementsByClassName("dropdown-content2");
                    var i;
                    for (i = 0; i < dropdowns1.length; i++) {
                        var openDropdown = dropdowns1[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                    for (i = 0; i < dropdowns2.length; i++) {
                        var openDropdown = dropdowns2[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
                if (event.target.matches('.servicecl')) {
                    var dropdownorg = document.getElementById("orgSelect");
                    if (dropdownorg.classList.contains('show')) {
                        dropdownorg.classList.remove('show');
                    }
                }
                if (event.target.matches('.dropbtn')) {
                    var dropdownorg = document.getElementById("servSelect");
                    if (dropdownorg.classList.contains('show')) {
                        dropdownorg.classList.remove('show');
                    }
                }
            }
        </script>
        <div id="topdiv">
            <div id="topdivcontent">
                <div id="cornerlogobox">
                    <a href="index.html">
                        <img id="cornerlogo" src="img/hexaa-logo-blue.png" alt="hexaa logo"/>
                    </a>
                </div>
                <div id="menudiv">
                    {% if user != null %}
                        <div class="dropdown">
                            <button onclick="orgClick()" class="dropbtn">
                                Organizations
                            </button>
                            <div id="orgSelect" class="dropdown-content1">
                                {% for organization in organizations.items %}
                                    <a href="#" id="nameoneorg" onclick="appearsubmenu(this.innerHTML)">{{ organization.name|e }}</a>
                                {% endfor %}                           
                            </div>
                        </div>
                        <div class="dropdown">
                            <button onclick="servClick()" class="servicecl">
                                Services
                            </button>
                            <div id="servSelect" class="dropdown-content2">
                                {% for service in services.items %}
                                    <a href="#" id="nameoneserv" onclick="appearsubmenu(this.innerHTML)">{{ service.name|e }}</a>
                                {% endfor %} 
                            </div>
                        </div>
                    {% endif %}
                    <div id="container">

                        {% if user != null %}
                            <div id="loginstatus"><span id="usernamebox">{{ user.eppn }}</span></div>
                        {% endif %}
                        <div id="logout">
                            <span id="logobox">
                                <a href="login.html">                        
                                    <img id="logpng" src="img/logout.png">                           
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
