{# empty Twig template #}
<html>
    <head>
        <title>HEXAA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="jquery-3.1.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/hexaa.css">
        <link rel="stylesheet" type="text/css" href="css/mainpage.css">
    </head>
    <body>
        <div id="topdiv">
            <div id="topdivcontent">
                <div id="cornerlogobox">
                    <img id="cornerlogo" src="img/hexaa-logo-blue.png" alt="hexaa logo"/>
                </div>
                <div id="menu"></div>
                <div id="loginstatus"><span id="usernamebox">{{ user.eppn }}</span></div>

            </div>
        </div>
