{% include 'header.html.twig' %}
{% if organizations is empty and services is empty %}
    <div id="welcomediv">
        <div id="welcomecontent">
            {% include 'welcomediv.html.twig' %}
            <div id="mobilemaincontrols">
                {% include 'mobilebuttons.html.twig' %}
            </div>
        </div>
    </div>
    <div id="maindiv">
        <div id="maindivcontents">
            {% include 'welcomepagebuttons.html.twig' %}
        </div>
    </div>
{% else %}
    <div id="mainafterlogin">
        <div id="welcomediv">
            <div id="welcomecontent">
                {% include 'welcomediv.html.twig' %}
            </div>
        </div>
        <div id="maindivafterlogin">
            <div id="maindivcontentsafterlogin">
                {% include 'welcomepagebuttons.html.twig' %}
            </div>
        </div>
        <div class="hr"><hr/></div>
        <div id="maintables">
            <div id="orgtablemain">
                <div id="orgtableheader"><b>ORGANIZATIONS</b></div>
                {% if organizations.items == null %}
                    <div id="emptyorgtable" style="font-style: italic">Not organizations yet</div>
                {% endif %}
                {% for organization in organizations.items %}
                    <div id="orgtablecontent">{{ organization.name|e }}</div>
                {% endfor %}
            </div>
            <div id="servtablemain">
                <div id="servtableheader"><b>SERVICES</b></div>
                {% if services.items == null %}
                    <div id="emptyservtable" style="font-style: italic">Not services yet</div>
                {% endif %}
                {% for service in services.items %}
                    <div id="servtablecontent">{{ service.name|e }}</div>
                {% endfor %}             
            </div>
        </div>
    </div>
{% endif %}

{% include 'footer.html.twig' %}
