{% include 'header.html.twig' %}

<div id="welcomediv">
    <div id="welcomecontent">
        <span id="welcometext1">Welcome to</span><br/>
        <img id="welcomeimage" alt="hexaa-logo" src="img/hexaa-logo-red.png"/><br/>
        <span id="welcometext2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis lacinia ex. </span>
        <div id="mobilemaincontrols">
            <div class="mobilebutton">Add organization</div>
            <div class="mobilebutton">Add service</div>
            <div class="mobilebutton">Edit profile</div>
        </div>
    </div>
</div>
<div id="maindiv">
    <div id="maindivcontents">
        <div class="desktopbutton"><img class="desktopbuttonimage" alt="Add organization" src="img/add-organization.png"/><br/>Add organization</div>
        <div class="desktopbutton"><img class="desktopbuttonimage" alt="Add organization" src="img/add-service.png"/><br/>Add service</div>
        <div class="desktopbutton"><img class="desktopbuttonimage" alt="Add organization" src="img/profile.png"/><br/>Edit profile</div>                    
    </div>
</div>
{% include 'footer.html.twig' %}
