{# empty Twig template #}
<span id="welcometext1"><b>Welcome to</b></span><br/>
<img id="welcomeimage" alt="hexaa-logo" src="img/hexaa-logo-red.png"/><br/>
<span id="welcometext2"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis lacinia ex. </b></span>