{% extends "AppBundle:Admin:layout.html.twig" %}

{% block container %}
    {% block stylesheets %}
        {% stylesheets
        'css/accordions.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <div class="col-sm-11 col-sm-offset-2">
        <input id="hexaaSearchFieldAdminAttributes" type="text" name="filter" class="hexaaSearchField pull-left"
               placeholder="Search attributes">

        <button class="btnhexaa btn-red btnhexaa-sm pull-right"><i class="material-icons">add</i> Create</button>
    </div>
    <div class="col-sm-11 col-sm-offset-2" style="margin-top: 12px">
        {{ include('::accordions.html.twig', { formaccordion: 'notform', formtitle: 'notform', formpanel: 'notform', heading: "Attribute specifications", variant: "dark", items: attributes_accordion }) }}
    </div>
{% endblock %}