{% extends "::base.html.twig" %}

{% block title %}HEXAA Admin{% endblock %}

{% block body %}
    {% stylesheets
    'css/admin.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ include('::navbar.html.twig', {admin: admin, names:adminsubmenubox}) }}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}

{%  block javascripts %}
<script>
/*
    $("#orgaccordion").remove();
    var servicebutton = $(".servicecl");
    for (i = 0; i < servicebutton.length; i++) {
        servicebutton[i].style.backgroundColor = "#333333";
    }
    var orgbutton = $(".dropbtn");
    for (i = 0; i < orgbutton.length; i++) {
        orgbutton[i].style.backgroundColor = "#333333";
    }

    var adminhref = $(".adminhref");
    for (i = 0; i < adminhref.length; i++) {
        adminhref[i].style.backgroundColor = "#61AFC5";
    }
*/
</script>
{% endblock %}
