{% extends "::base.html.twig" %}

{% block title %}HEXAA Admin{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    {% stylesheets
    'css/admin.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {{ include('::navbar.html.twig', {admin: admin, names: adminsubmenubox, theme: "red"}) }}
    <div class="entity-container">
        <div class="container">
            {% block container %}{% endblock %}
        </div>
    </div>
{% endblock %}


