{% extends "::base.html.twig" %}

{% block title %}HEXAA Admin{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    {% stylesheets
    'css/admin.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <script>
        var admin = $("#admin");
        admin.css('background-color', "#EA7E73");
    </script>

    {{ include('::navbar.html.twig', {admin: admin, names:adminsubmenubox}) }}
    <div class="entity-container">
        <div class="container">
            {% block container %}{% endblock %}
        </div>
    </div>
{% endblock %}


