{% extends "::base.html.twig" %}

{% block title %}HEXAA Admin{% endblock %}

{% block body %}
    {% stylesheets
    'css/admin.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ include('::navbar.html.twig', {admin: admin, names:adminsubmenubox}) }}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}


