.btn{
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    font-family: Verdana;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
}

