.btnhexaa, .paginate_button {
    display: inline-block;
    padding: 6px 12px;
    margin: 0px 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    min-height: 34px;
}

.btn-red {
    background-color: #EA7373;
    color: white;
}

.btn-red:disabled, .btn-red-inverse {
    background-color: white;
    color: #EA7373;
    border-color: #EA7373;
}

.btn-blue, .paginate_button {
    background-color: #61AFC5;
    color: white;
}

.btn-blue:disabled, .btn-blue-inverse {
    background-color: white;
    color: #61AFC5;
    border-color: #61AFC5;
}

.btn-white {
    background-color: #FFFFFF;
}

.btnhexaa-lg {
    font-size: 25px;
    padding: 12px 15px;
}

.btnhexaa-md {
    font-size: 16px;
    padding: 9px 14px;
}

.btnhexaa-sm {
    font-size: 14px;
    padding: 6px 9px;
}

.btnhexaa-xs {
    padding: 0px 4px;
    min-height: 0px;
    border: 0px;
    margin: 0px;
}
