@media only screen and (max-width: 480px) {
    #hamburgerSelect{
        display: none;
    }

    .hamburgerClass.show{
        display:block;
        background-color: #2e2d2d;
        position:fixed;
        width:100%;
        margin-top: 50px;
        border-top:2px solid black;
        z-index:1000;
    }

    .off{
        color:white;
        font-size: 20px;
        padding-right:10px;
    }

    .user{
        color:white;
        font-size: 20px;
        padding-right:10px;
    }

    .accordionhamburger{
        border-bottom:2px solid black;
        width:100%;
        height:100%;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor:pointer;
    }

    .accordionhamburger:before{
        content: '\25BC';
        font-size: 15px;
        color: white;
        float:right;
        padding-right: 10px;
    }
    
    .accordionhamburger.active:before{
        content: '\25B2';
        font-size: 15px;
        color: white;
        float:right;
        padding-right: 10px;
    }

    .hamburgercontentname{
        color:white;
        font-size:20px;
        padding-left: 12px;
    }

    .hamburgercontentpanelname{
        color:white;
        font-size:15px;
        padding-left: 12px;
    }

    .link{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom:2px solid black;
    }

    .panelaccordionhamburger{
        display: none;
    }

    .panelaccordionhamburger.show {
        display: inline-block;
        text-align: left;
        background-color: grey;
    }
    
    .linksubmenu{
        background-color: #61AFC5;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom:2px solid white;
    }
    
    #organizationssubmenu{
        display: none;
    }
    
    #servicesssubmenu{
        display: none;
    }
    
    .orgsubclass.show{
        display: inline-block;
    }
    
    .servsubclass.show{
        display: inline-block;
    }
    
    
}