#maindivcontroller {
    display: box;
    text-align: center;
}

table#centertable3 {
    width: 60%;
    display: inline-table;
    padding-top: 30px;
    text-align: left
}

.uniqueproperty {
    border: 0.2em solid #61AFC5;
    padding-top: 10px;
}

#propertyname {
    text-align: left;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 3px;
    color: #61AFC5;
    font-size: x-large;
    font-family: Georgia;
}

.inline {
    display: inline;
    float: left;
    padding-left: 1.5em;
}

.descriptions {
    text-align: left;
    padding-left: 11em;
    padding-bottom: 5px;
    padding-right: 1em;
}

.uniquebuttons {
    border: 1em solid #FFFFFF;
    background-color: #FFFFFF;
}

.unique {
    border: 1em solid #61AFC5;
}

#labels {
    padding-bottom: 3em;
}

#headerLabel {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5em;
    float: left;
    font-family: Georgia;
    padding-left: 1em;
}

#headerLabeltext {
    color: #FFFFFF;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia;
    float: right;
    padding-right: 3%;
    padding-top: 1%;
}

#roles2 {
    display: block;
    background-color: #61AFC5;
    width: 70%;
}

div.accordion2, div.accordionroles {
    background-color: #FFFFFF;
    color: #61AFC5;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    min-width: 130%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 4%;
    margin-right: 4%;
}

div.accordionservices {
    background-color: #61AFC5;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    min-width: 130%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 0.5em;
    margin-left: 4%;
    margin-right: 4%;
}

div.accordionpermissions {
    background-color: #FFFFFF;
    color: #61AFC5;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    width: 97.4%;
    border: 1px solid #61AFC5;
    outline: none;
    transition: 0.4s;
    margin-top: 0.5em;

}

div.accordionservices:before {
    content: '\25BC';
    font-size: 13px;
    color: #FFFFFF;
    float: right;

}

div.accordionservices.active {
    color: #FFFFFF;
}

div.accordionpermissions.active {
    color: #FA8072;
    border: 1px solid #FA8072;
}

div.accordion2:before, div.accordionroles:before, div.accordionpermissions:before {
    content: '\25BC';
    font-size: 13px;
    color: #61AFC5;
    float: right;
}

div.accordion2.active, div.accordionroles.active {
    color: #FA8072;
}

div.accordion2.active:before, div.accordionroles:before {
    content: "\25B2";
    font-size: 13px;
    color: #FA8072;
    float: right;
}

div.panel {
    background-color: white;
    display: none;
    min-width: 130%;
    transition: 0.4s;
    padding: 10px;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: inline-block;
    text-align: left;
    margin-left: 4%;
    margin-right: 4%;
}

div.panel p {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.name {
    margin-left: 0%;
}

.firsttd {
    width: 150px;
    color: #61AFC5;
}

.long {
    width: 80%;
}

#maindiv {
    display: box;
    text-align: center;
}

.flexcontainer {
    display: inline-flex;
}

.togglecheck {
    -webkit-appearance: none;
    background-color: #fafafa;
    border-left: 10px solid #61AFC5;
    border-right: 10px solid #61AFC5;
    border-top: 5px solid #61AFC5;
    border-bottom: 5px solid #61AFC5;
    border-radius: 2px;
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 0px;
    margin-right: 1em;
    margin-top: 0px;
    margin-bottom: 0px;

}

.togglecheck:checked {
    border: 2px solid #61AFC5;
    border-left: 10px solid #61AFC5;
    border-right: 10px solid #61AFC5;
    border-top: 5px solid #61AFC5;
    border-bottom: 5px solid #61AFC5;
    color: #99a1a7;
}

.togglecheck:checked:after {

    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #61AFC5;
}

.inputfield {
    flex: 1;
    border: 2px solid #61AFC5;

}

#search {
    background: url(../img/search.PNG) no-repeat;
    width: 30px;
    height: 30px;
    border: 2px solid #61AFC5;
    margin-right: 1em;
    background-size: cover;
}

.firstrowbuttons {
    background-color: #61AFC5;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #61AFC5;
}

/*bootstrap terminológia*/
.btn {
    margin-right: 2px;
    height: 30px;
}

.btn-primary {
    background-color: #FA8072;
    color: white;
    border: 1px solid #FA8072;
    margin-left: 8em;
}

.btn-success {
    background-color: #61AFC5;
    color: white;
    border: 1px solid #61AFC5;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #61AFC5;
    padding: 0;
}

#addrole {
    border: 1px solid #FFFFFF;
    background: url(../img/addrole.PNG) no-repeat;
    width: 240px;
    height: 55px;
    display: inline-flex;
    background-size: cover;
}

.buttonedit, .buttonbin, .buttonmessage {
    float: right;
    height: 15px;
    width: 17px;
    border: #FFFFFF;
    margin-right: 2%;
    display: none;
}

.buttonbin {
    background: url(../img/red_rubbishbin.svg) no-repeat;
}

.buttonmessage {
    background: url(../img/red_message.svg) no-repeat;
}

.buttonedit {
    background: url(../img/red_pencil.svg) no-repeat;
}

.buttonbinservice {
    background: url(../img/bin.PNG) no-repeat;
    cursor: pointer;
    width: 24px;;
    height: 25px;
    border: 1px solid #FFFFFF;
}

table#centertable4 {
    width: 60%;
    display: inline-table;
    text-align: left;
    padding-top: 30px;
}

#roles3 {
    background-color: #FFFFFF;
    width: 70%;
}

.format {
    width: 80%;
    display: none;
}

.servicemanager {
    font-size: small;
    color: #FFFFFF;
    font-style: italic;

}

.flexcontainerservice {
    display: inline-flex;
    float: left;
    padding-left: 3%;
}

.inputfieldservice, .inputfieldmanager, .inputfieldpermission, .inputfieldpermissionset {
    flex: 1;
    border: 2px solid #61AFC5;
}

#search, #searchservice {
    background: url(../img/search.PNG) no-repeat;
    width: 30px;
    height: 30px;
    border: 2px solid #61AFC5;
    margin-right: 1em;
    background-size: cover;
}

.servicemanager {
    font-size: small;
    color: #FFFFFF;
    font-style: italic;

}

#newconnection {
    background: url(../img/newconnection.PNG) no-repeat;
    width: 200px;
    height: 40px;
    float: right;
    margin-right: 4%;
    border: 1px solid #FA8072;
}

#headerpermission {
    color: #61AFC5;
    font-size: large;
}

#headerLabelService {
    color: #61AFC5;
    font-weight: bold;
    font-size: 1.5em;
    float: left;
    font-family: Georgia;
    padding-left: 1em;
}

div.panelservice {
    background-color: white;
    display: none;
    width: 129.5%;
    transition: 0.4s;
    padding: 10px;
}

div.panelservice.show {
    display: inline-block;
    text-align: left;
    margin-left: 4%;
    margin-right: 4%;
    border: 1px solid #00CEF1;

}

div.panelservice p {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.emailsLabel{
    padding-right: 70px;
    margin-top: 10px;
}
#scrollable-dropdown-menu .twitter-typeahead{
    margin-left:50px;
    width: 310px;
}

#scrollable-dropdown-menu .tt-menu{
    margin:2px 0;
    width: 310px;
    border: 1px solid #61AFC5;
    color: black;
}