.propertiespanel{
    border: 2px solid #61AFC5;
    width:100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.propname {
    display: inline;
    width: 250px;
    font-weight: bold;
    padding-left: 1.75em;
    padding-bottom: 0.5em;
    float:left;
    text-align: left;
}

#propdescription {
    text-align: left;
    padding-bottom: 0.5em;
}

.header {
    text-align: left;  
    color: #61AFC5;
    font-size: x-large;
    font-weight: bold;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

.editbutton{
    cursor:pointer;
    border:none;
    float:right;
    background-color: white;
    color: #ec666a;
}

.sendbutton, .sendownerbutton, .sendprivacybutton{
    border: none;
    background-color: white;
    color: #61AFC5;
}

.form-control {
    width:500px; 
    display:inline;
    margin-right:180px;
}

.container{
    text-align: left;
}

.formlabel{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left:20px;
}
