
#profilemain {
    text-align: center;
}

table#profileproperties, #profileattributes {
    width: 60%;
    display: inline-table;
    text-align: left;
    padding-top: 30px;
}

#properties {
    border: 0.2em solid #808080;
    padding-top: 10px;
}

.accountbutton, .accountbutton-form {
    width: 150px;
    text-align: center;
    margin-right: 300px;
}

.accountimage {
    width: 100px;
}

.descriptionsprofile {
    text-align: left;
    padding-left: 11em;
    padding-right: 1em;
}

.inlineprofile {
    display: inline;
    float: left;
    padding-left: 1.5em;
}

#headerlabelprofile {
    color: #61AFC5;
    font-weight: bold;
    font-size: 1.5em;
    float: left;
    font-family: Georgia;
}

.accordionattributes {
    background-color: #808080;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 0.5em;
}

.accordionattributes:before {
    content: '\25BC';
    font-size: 13px;
    color: #FFFFFF;
    float: right;
}

.accordionattributes.active {
    color: #EA7E73;
}

.accordionattributes.active:before {
    content: "\25B2";
    font-size: 13px;
    color: #FFFFFF;
    float: right;
}

.panelattributes {
    background-color: white;
    display: none;
    min-width: 130%;
    transition: 0.4s;
    padding: 10px;
}

.panelattributes.show {
    display: inline-block;
    text-align: left;
    margin-left: 4%;
    margin-right: 4%;
}

.panelattributes p {
    width: 100%;
    display: inline-block;
    text-align: left;
}

#profilPropertiesContainer{
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
}

form[name="profile_properties"]{
    border: 2px solid #61AFC5;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    width: 550px;
}

form[name="profile_properties"] .form-group{
    padding-right: 60px;
}

form[name="profile_properties"] .form-control{
    margin-right: 30px;
}

#profile_properties_principalName, #profile_properties_principalEmail, #profile_properties_principalFedID, #profile_properties_adminFedID{
    font-size: inherit;
    color: #61AFC5;
    background-color: #DFEDEE;
    border: 1px solid #61AFC5;
    border-radius: 0px !important;
    height: 30px;
    width: 300px;
}

form[name="profile_properties"] .header{
    text-align: left;
    color: #61AFC5;
    font-size: x-large;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 0.5em;
    width: 530px;
}

.actionbutton{
    cursor: pointer;
    border: none;
    background-color: white;
}