.progress {
    border-radius: 0px !important;
    height: 8px !important;
}
.progress-bar-blue {
    background-color: #61AFC5 !important;
}

.progressbar-header {
    font-weight: bold !important;
    font-size: larger !important;
    color: #61AFC5 !important;
}

.progressbar-order {
    font-style: italic !important;
    color: #61AFC5 !important;
    margin-bottom: 24px !important;
}