.datatable {
	border: 2px;
    border-collapse: collapse;
    width: 100%;
}

.datatable-tier1 {
	border: 2px solid #FA8072;
}

.datatable caption {
    display: table-caption;
    text-align: left;
    font-weight:bold;
    font-size:larger;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.datatable-tier1 caption {
    color:#FA8072;
}