{# empty Twig template #}
<div class="desktopbutton"><img class="desktopbuttonimageafterlogin" alt="Add organization" src="img/add-organization.png"/><br/><br/>Add organization</div>
<div class="desktopbutton"><img class="desktopbuttonimageafterlogin" alt="Add organization" src="img/add-service.png"/><br/><br/>Add service</div>
<div class="desktopbutton"><img class="desktopbuttonimageafterlogin" alt="Add organization" src="img/profile.png"/><br/><br/>Edit profile</div>