{# empty Twig template #}
<span id="welcometext1"><b>Welcome to</b></span><br/>
<img id="welcomeimage" alt="hexaa-logo" src="{{ asset('img/hexaa-logo-red.png') }}"><br/>
<span id="welcometext2"><b>The Research and Education Attribute Authority.</b></span>