{# empty Twig template #}
<div class="desktopbutton"><a href="{{ path('app_organization_add') }}"><img class="desktopbuttonimageafterlogin" alt="Add organization" src="img/add-organization.png"/><br/><br/>Add organization</a></div>
<div class="desktopbutton"><img class="desktopbuttonimageafterlogin" alt="Add organization" src="img/add-service.png"/><br/><br/>Add service</div>
<div class="desktopbutton"><input type="button" id="editprofilesbutton" onclick="location.href='{{path('app_profile_index')}}';"> </button> <br/><br/>Edit profile </div>
